body {
   
   background: url("https://cx4mbw-bn1306.files.1drv.com/y3mQwYGplXJhaRiIodrLS82qhM9tJONOV62UEj9ItabttPZkQLGjqQD5ZFF7HD6lU_2v-mXi8otoSsvmsF4EFHmei-W4q_VNUBWtexsFUm-j6d61ztfvsmH3kw50PdiizyLJ925_LEdHm_yLbe7rlllXA?width=1278&height=720&cropmode=none");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;

   background-attachment: fixed;
   
}

.top img{
	padding-right: 25px;
	padding-bottom: 25px;
	min-height: 160px;
	min-width: 160px; 
}
	


.boxed {
	border: 10px solid black;
    	border-radius: 8px;
	background-color: white;
    	width: 67%;
    	padding: 25px;
    	margin: auto;
}

.buttons{
	clear: left;
}

.buttons ul{
	display: inline;
}

.buttons li{
	display: inline;
}

.buttons a{
	color: rgb(0,0,0);
	font-size: 1.25em;
	text-decoration: bold;
}




