body{
      background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
}

.contactBox {
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
	padding: 0px;
}

table {
	margin-left: 20px;
	margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
}


a{

  color: rgb(0,0,0);
	text-decoration: underline;
	font-weight: normal;
}

td, th {
    font-weight: bold;
    text-align: left;

}

tr:nth-child(odd) {
    background-color: #dddddd;
}

body> .contactBox> h1{
	  padding: 20px;
    margin: 0px;
	text-decoration: underline;
}


