body {
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");

   background-size: cover;
   background-position: center center;

   background-attachment: fixed;
   font-family: "Arial";
}

.top{
	border: 10px solid black;
	border-radius: 0px;
	width: 100%;
	margin: auto;
	background-color: Gray;
}

.top> img{
	align: left;
	height: 5%;
	width: 5%;
	

.SubBoxes{
	border: 10px solid black;
	border-radius: 0px;
	width: 67%;
	margin: auto;
	margin-top: 25px;
	background-color: white;

}

body> .SubBoxes> .div> h1,h4, h3, p{
	margin-left: 15px;
	margin-right: 15px;
	color: black;
	font-family: "Arial";

}


