body {
   background-image: url("../media/pictures/WP_20160522_15_17_47_Pro_LI (3).jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;

   background-attachment: fixed;
   
}

.postsBox {
	text-align: center;
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
}
