.postsBox {
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
	padding: 0px;
}

twitter-timeline{
	margin: 0;
	padding: 200px;
}
