body {
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;

   background-attachment: fixed;
   
}

body> .boxed> .top> img{
	height: 30%;
	width: 30%;
	padding-right: 25px;
	min-height: 150px;
	min-width: 150px; 
}

body> .boxed> .top> h1{
	padding-top: 20px;
	margin-top: 0px;
	margin-bottom: 5px;

}



SubBoxes> .firstBox{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}

SubBoxes> .SocialMediaBox{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}

SubBoxes> .RecentUpdate{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}

/*
.buttons{
	clear: left;
}

.buttons ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.buttons li{
	float: left;
}

.buttons li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active {
    background-color: rgb(0,71,171);
}
*/




