.contactBox {
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
	padding: 10px;
}

.address a{

  color: rgb(0,0,0);
	font-size: 1.25em;
	text-decoration: underline;
}

body> contactBox> h1{
	  padding: 0px;
    margin: 0px;
}

body>address{
	margin:auto;

}
