.aboutBox {
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
	padding: px;
}


body> .aboutBox> h1{
	  padding: 0px;
    margin: 10px;
}

body> .aboutBox> p{
	  padding: 0px;
    margin: 10px;
}
