body {   
	background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;

   background-attachment: fixed;
   
}

.postsBox {
	text-align: center;
	border: 10px solid black;
    	border-radius: 0px;
	background-color: white;
    	width: 67%;
    	margin: auto;
	margin-top: 25px;
}

.postsBox iframe{
	margin: 33%;
}

