body{
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");

   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
	font-family: "Calibri";
	
}

p{
	padding: 10px;
	margin: auto;
	margin-top: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

body> .projectBoxes > .projectsBoxTop > h1{
	font-style: italic;
	padding: 10px;
	margin: auto;
	margin-bottom: 0;	

}

body .projectBoxes h3{
	padding: 15px;
	margin: auto;
	margin-top: 0;
	text-decoration: underline;
}

body> .projectBoxes> div{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}
