body{
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
	
}

p{
	padding: 10px;
	margin: auto;
	margin-top: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

body> .projectBoxes > .projectsBoxTop > h1{
	font-style: italic;
	padding: 10px;
	margin: auto;
	margin-bottom: 0;	

}

body .projectBoxes h3{
	padding: 15px;
	margin: auto;
	margin-top: 0;
	text-decoration: underline;
}

body> .projectBoxes> div{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}



#f1_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#f1_container {
  perspective: 1000;
}
#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
#f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}
