body{
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
	
}

p{
	padding: 10px;
	margin: auto;
	margin-top: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

body> .projectBoxes > .projectsBoxTop > h1{
	font-style: italic;
	padding: 10px;
	margin: auto;
	margin-bottom: 0;	

}

body .projectBoxes h3{
	padding: 15px;
	margin: auto;
	margin-top: 0;
	text-decoration: underline;
}

body> .projectBoxes> div{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}

body> .projectBoxes> .postcard{
	border: 10px solid red;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;
	animation: rotate 5s infinite ease-in-out, background 5s ease-in-out alternate;

}


/* card fronts and backs */
.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  //width: 100%;
 // height: 100%;
}

.front,
.back {
          backface-visibility: hidden;
          transition: transform 1.3s;
}

.front {
  background-color: black;
}

.back {
  background-color: red;
          transform: rotateY(-180deg);
}

/* hover effect */
.postcard.effect__hover:hover .front {
          transform: rotateY(-180deg);
}

.postcard.effect__hover:hover .back {
          transform: rotateY(0);
}
