body{
   background-image: url("../media/pictures/WP_20161026_02_32_27_Pro.jpg");
   font-family: Helvetica;
   background-size: cover;
   background-position: center center;
   background-attachment: fixed;
	
}

p{
	padding: 10px;
	margin: auto;
	margin-top: 0;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 15px;
}

body> .projectBoxes > .projectsBoxTop > h1{
	font-style: italic;
	padding: 10px;
	margin: auto;
	margin-bottom: 0;	

}

body .projectBoxes h3{
	padding: 15px;
	margin: auto;
	margin-top: 0;
	text-decoration: underline;
}

body> .projectBoxes> div{
	border: 10px solid black;
	border-radius: 0px;
	Background-color: white;
	width: 67%;
	margin: auto;
	margin-top: 25px;

}





.flip {
  -webkit-perspective: 800;
   width: 400px;
   height: 200px;
    position: relative;
    margin: 50px auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-family: Georgia;
    font-size: 3em;
    text-align: center;
    line-height: 200px;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    background: black;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}
