.boxed {
	font-family: Helvetica;
	border: 10px solid black;
    	border-radius: 8px;
	background-color: white;
    	height: 15%;
	width: 97%;
    	padding: 0px;
	margin: auto;
	padding-top: -5px;
}

.top{
	top: 0px;
	bottom: 0px;
	
	background: url("../media/paper.jpg");
	background-position: right top;
	text-shadow:1px 2px 4px white;
	background-size: cover;
	
}

body> .boxed> .top> img{
	height: 15%;
	width: 15%;
	padding-right: 25px;
        min-height: 130px;
	min-width: 130px; 
	bottom: 0px;

}

body> .boxed> .top> h1{
	padding-top: 10px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-shadow:1px 2px 4px white;

}


body> .boxed> .top> h4{
	padding-top: 15%;
	font-style: italic;
	margin: 3px;
	font-weight: lighter;
	text-shadow: 2px 2px 9px white;

}

.buttons{
	clear: left;
}

.buttons ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.buttons li{
	float: left;
}

.buttons li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.buttons li a:hover:not(.active) {
    background-color: grey;
}

.active {
    background-color: rgb(0,0,255);
}
