body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 3%;
    
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;
  }

.title{
    margin-bottom: 10%;
}

.title h1{
    float: left;
    margin: auto;
    margin-bottom: 0;

}

.title h5{
    float: left;
    margin: 0;
    width: 100%;

}

.home{
    width: 75px;
    margin-top: -10px;

    float: right;
    display: block;
}

a{
    color: rgb(0,100,0);
}

h1{
    text-decoration: underline;
    float: left;
    color: rgb(0,150,0);
}

h5{
    line-height: 50px;

}

h3{
    padding-left: 2%; 
    color: rgb(0,150,0);
}

p{
    padding-left: 5%;
    text-indent: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.osv img{
    max-height: 250px;
    max-width: 150px;
    width:auto;
    height: auto;
    padding-left: 30px;
    padding-right: 15px;
    float: right;
}

.hackalong img{
    max-height: 75px;
    max-width: 75px;
    width:auto;
    height: auto;
    padding-left: 30px;
    padding-right: 15px;
    
    float: left;
}

.holidaze img{
    max-height: 500px;
    max-width: 200px;
    width:auto;
    height: auto;
    padding-left: 30px;
    padding-right: 15px;
    float: right;
}

.container{
    margin: 1%;

    padding-left: 1%;
    padding: 3%;
}

@media screen and (max-device-width: 800px) {
    body {
        width: 100%;
    }
    .container{
        margin: 3%;
    }
}

  @media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .container{
        margin: 3%;
    }
    
}