
body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: auto;
    margin-top: 3%;

}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;
  }

.title{
    margin-bottom: 10%;
    width: 100%;
}

.title h1, h2, h3{
    width: 100%;
}

a{
    color: rgb(200,200,0);
}

.title h1{
    float: left;
    margin: auto;

}

.home{
    width: 75px;
    margin-top: -10px;

    float: right;
    display: block;
}

h1{
    padding-left: 3%;
    text-decoration: underline;
    color: rgb(200,200,0);
}

h3{
    padding-left: 3%;
    margin-top: 30px;
    padding-bottom: 0;
    margin-bottom: 0; 
    color: rgb(200,200,0);
}
p{
    padding-top: 0;
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
}


.content {

    margin: 1%;
    border-radius: 0px;

    margin: center;
	margin-top: 25px;
    padding-left: 1%;
    padding: 3%;
}

table {
    table-layout: fixed;
    width: 90%;  
    margin: auto;
    margin-top: 5%;
    border-collapse: collapse;
    font-size: 1em;
    overflow: hidden;
}
td{
    padding: 1%;
}

tr:nth-child(odd) {
    background-color: #302f2f;
}
tr:nth-child(even) {
    background-color: #666464;
}

.citations{
    margin-top: 15%;
}


@media screen and (max-device-width: 800px) {

    body {
        width: 100%;
        font-size: 1em;
    }
    .content{
        margin: 3%;
    }
}

  @media screen and (max-width: 800px) {

    body {
        width: 100%;
        font-size: 1em;
    }
    .content{
        margin: 3%;
    }
}