body{

    color: white;
    font-family: Arial, Helvetica, sans-serif;

    margin: auto;
    margin-top: 3%;
}

.title{
    margin-bottom: 50px;
}

.title h1{
    float: left;
    margin: auto;

}

.home{
    width: 75px;
    margin-top: -10px;

    float: right;
    display: block;
}

.background{
    /*background-image: linear-gradient(rgb(0,155,155), rgb(0,0,255));*/
    margin: 1%;
}

.past img{
    max-width:175px;
    width: auto;
    height: auto;
    float: right;
}

.values img{
    max-height:700px;
    width: auto;
    height: auto;
    float: center;
}

.values .q{
    font-style: italic;
    font-weight: bold;
}

.container{
    margin: 1%;
    padding-left: 1%;
    padding: 3%;
}

h1{
    text-decoration: underline;
    color: rgb(0,200,200);
}

h2{
    padding-left: 2%; 
    color: rgb(0, 200, 200);
}


p{
    padding-left: 5%;
    text-indent: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.values{
    text-align: center;
    
}

.values p{
    padding-left: 0;
    text-indent: px;
}

@media screen and (max-device-width: 800px) {
    body {
        width: 100%;
    }
    .container{
        margin: 3%;
    }
}

  @media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .container{
        margin: 3%;
    }
    
}

body::-webkit-scrollbar {
    display: none;
  }

body {
    -ms-overflow-style: none;
  }