body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    margin-top: 3%;
}


.title{
    margin-bottom: 10%;
    color: rgb(153, 0, 255);
}
.title h1{
    float: left;
    margin: auto;

}

.home{
    width: 75px;
    margin-top: -10px;

    float: right;
    display: block;
}

h1{
    text-decoration: underline;
}

.container{
    background-image: linear-gradient( rgb(153, 0, 255),rgb(100, 0, 70));
}

.content{
    margin: 1%;
    background: black;
    padding-left: 1%;
    padding: 3%;
}

@media screen and (max-device-width: 800px) {
    body {
        width: 100%;
    }
    .content{
        margin: 3%;
    }
}

  @media screen and (max-width: 800px) {
    body {
        width: 100%;
    }

    .content{
        margin: 3%;
    }
    
}